html {
    height: 100%;
}
body {
    background-color: #d9d9d9;
    padding-top: 70px;
    font-family: 'Open Sans', sans-serif;
    border: 100px solid grey;
    border-bottom: none;
    border-top: none;
    min-height: 100%;
    margin: 0 0;
}

.navbar {
    min-height: 70px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    text-color: #dcdcdc;
}

.navbar ul li {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding-right: 4px;
    padding-left: 4px;
    color: #e7e7e7;
}
.navbar ul li a { color: #cecece !important; }
.navbar ul li.active { background-color: #e1e1e1; }
.navbar ul li a:hover { color: #e1e1e1 !important; }
.navbar ul li.active a { color: rgba(0, 0, 0, 0.8) !important;}
.navbar ul li a:hover { color: #f6f6f6 !important; }
.navbar ul li.active a:hover { color: rgba(0, 0, 0, 0.8) !important; }
img {
    border: 10px solid grey;
    padding: 10px;
    margin: 20px;
    width: 500px;
    display: block;
}
h1 {
    font-size: 24pt;
}




ul {
    padding: 0;
    list-style: none;
}
