html {
    height: 100%;
}
body {
    background-color: #d9d9d9;
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  border: 100px solid grey;
  border-bottom: none;
  border-top: none;
  min-height: 100%;
  margin: 0 0;
}
img {
    border: 10px solid grey;
    padding: 10px;
    margin: 20px;
    width: 500px;
    display: block;
}
h1 {
    font-size: 24pt;
}




ul {
    padding: 0;
    list-style: none;
}
